<div class="flex h-screen w-full overflow-hidden">
  
  <aside class="flex h-screen bg-surface-low p-4 flex-col" [ngClass]="isCollapsed ? 'w-20' : 'w-64'">
    <div class="px-2 py-1 ">
        <div class="flex items-center gap-2 mb-8 md:mb-0 pb-8" [ngClass]="isCollapsed ? 'justify-center' :'' ">
            @if(!isCollapsed){
                <img src="assets/icons/Logo.svg" alt="Taskly Logo"  />

            }@else{
                <img src="assets/icons/logoWithNoName.svg" alt="Taskly Logo"  />
            }
        </div>
    </div>
    <div class="flex-1 overflow-y-auto gap-1 flex flex-col">
        <div class="bg-white flex px-3 py-2.5 gap-3 items-center rounded rounded-sm">
            <div class="flex items-center justify-center">    
                <img class="w-5 h-4" src="assets/icons/folder.svg" alt="Projects"  />
            </div>
            @if(!isCollapsed){
             <p class="leading-5 text-sm font-medium text-primary">Project</p>
            }
        </div>
        <div class="flex px-3 py-2.5 gap-3 items-center rounded rounded-sm">
             <img src="assets/icons/statistics.svg" alt=" My Statistics"  />
            @if(!isCollapsed){
             <p class="leading-5 text-sm font-medium text-neutral-dark"> My Statistics</p>
            }
        </div>
    </div>
    <div class="pt-6 gap-1 border-t border-[#C3C6D633]">
        <div (click)="isCollapsed = !isCollapsed" class="flex px-3 py-2.5 gap-3 items-center rounded rounded-sm" >
            <div class="flex items-center justify-center">    
                <img class="w-5 h-4" src="assets/icons/collapse.svg" alt="Projects"  />
            </div>
            @if(!isCollapsed){
                <p class="leading-5 text-sm font-medium text-neutral-dark">Collapse</p>
            }
        </div>
        <div class="flex px-3 py-2.5 gap-3 items-center rounded rounded-sm">
            <div class="flex items-center justify-center">    
                <img class="w-5 h-4" src="assets/icons/logout.svg" alt="Projects"  />
            </div>
            @if(!isCollapsed){
                <p class="leading-5 text-sm font-medium text-[#BA1A1A]">Logout</p>
            }
        </div>
    </div>
  </aside>

  <div class="flex flex-1 flex-col h-full bg-white">
    
    <header class="h-fit flex px-8 py-3 border-b border-gray-200 z-40 justify-end items-center">
        <div class="w-49 flex justify-end gap-4">
            <div class="w-47 flex justify-end gap-3 p1-4 items-center">
                <div class="flex justify-end flex-col">
                    @if(viewData){
                        <h4 class="text-sm text-end font-bold leading-5 capitalize">{{ userData.name }}</h4>
                        <p class="text-end text-primary fond-bold text-[10px] tracking-[1px] leading-5 uppercase">{{userData.department}}</p>
                    }
                </div>
                <div class="w-10 h-10 bg-primary-container rounded rounded-lg flex items-center justify-center">
                    @if(viewData){
                        <div class="font-bold text-base leading-6 text-white">
                            {{userData.nameInitials}}
                        </div>
                    }
                    
                </div>

            </div>

        </div>
    </header>

    <main class="flex-1 overflow-y-auto p-8">
      <router-outlet></router-outlet>
    </main>
    
  </div>
</div>

